node_modules
.next
out
.git
.gitignore
.github
data
*.db
*.db-shm
*.db-wal
.env
.env.local
.env*.local
npm-debug.log*
Dockerfile
.dockerignore
docker-compose.yml
README.md
deploy
test
.DS_Store
tsconfig.tsbuildinfo
